.dummy{
	color : black;
}
.asset
{
	align-content: center;
    margin-left: 22px;
    font-size: 36px;
    font-weight: bold;
	padding-bottom: 29px;
}
.tab
{
	font-size: 20px;
    font-weight: bold;
}
.acc{
	font-size: 18px;
    font-weight: bold;
}
acc1
{
	font-size: 16px;

}